<!--Post View: Show--> 

<div class="topSec">
	<h1>Post by Post_ID</h1>

	<div class="blog_id">
		<h3><%= @post.title %></h3>
		<p>written by: <a href="/users/<%= @post.user.id %>"><%= @post.user.name %></a></p>
		<p><%= @post.content %></p>
	</div>

	<% if session[:user_id] == @post.user.id %>
	<div class="mk_blog">
	<h3>Create a new post...</h3>
		<form action="/posts/new" method="post">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type="hidden" name="blog_id" value="<%= @post.blog.id %>">
			<div class="form-group">
				<label>Title</label>
				<input type="text" class="form-control" name="title">
			</div>
			<div class="form-group">
				<label >Content</label>
				<textarea class="form-control" rows="5" name="content"></textarea>
			</div>
			
			<button type="submit" class="btn btn-default">Create Post</button>
		</form>
	</div><!--end of mk_blog div-->
	<% end %>

	<% if flash[:errors] %>
		<% flash[:errors].each do |msg| %>
		<p style="color: red;"><%= msg %></p>
		<% end %>
	<% end %>


</div><!--end of topSec div-->